In [10]:
import pandas as pd

In [11]:
dispatch = pd.read_csv('../data/Metro_Nashville_Police_Department_Calls_for_Service.csv')

In [12]:
dispatch.head(2)

,Event Number,Call Received,Complaint Number,Shift,Tencode,Tencode Description,Tencode Suffix,Tencode Suffix Description,Disposition Code,Disposition Description,Block,Street Name,Unit Dispatched,Sector,Zone,RPA,Latitude,Longitude,Mapped Location
0,PD202000711682,09/23/2020 02:26:09 PM,NaN,NaN,87,SAFETY HAZARD,P,PROGRESS,4,NaN,NaN,NaN,5250,H,513,9019.0,NaN,NaN,NaN
1,PD202000712516,09/23/2020 09:47:43 PM,NaN,NaN,83,SHOTS FIRED,P,PROGRESS,11,NaN,NaN,NaN,825B,N,617,4325.0,NaN,NaN,NaN

In [13]:
dispatch.columns

Index(['Event Number', 'Call Received', 'Complaint Number', 'Shift', 'Tencode',
       'Tencode Description', 'Tencode Suffix', 'Tencode Suffix Description',
       'Disposition Code', 'Disposition Description', 'Block', 'Street Name',
       'Unit Dispatched', 'Sector', 'Zone', 'RPA', 'Latitude', 'Longitude',
       'Mapped Location'],
      dtype='object')

In [3]:
dispatch.columns = ['event_num', 'call_received', 'complaint_num', 'shift', 'tencode',
       'tencode_desc', 'tencode_suffix', 'tencode_suffix_desc',
       'disposition_code', 'disposition_desc', 'block', 'st_name',
       'unit_disp', 'sector', 'zone', 'RPA', 'lat', 'lng',
       'map_loc']

In [4]:
dispatch[["call_date", "call_time"]]= dispatch.pop("call_received").str.split(" ", n = 1, expand = True)

In [6]:
dispatch=dispatch[dispatch['call_date'].isin(['03/03/2020', '05/03/2020', '05/04/2020'])]
dispatch=dispatch.reset_index(drop = True)
dispatch.shape

(7426, 20)

In [9]:
dispatch.to_csv("../data/dispatch.csv")